<ion-view hide-menu-button="true" view-cache="false">
 <ion-nav-title>
      About
 </ion-nav-title>
  <ion-content>
    <div class="cover-item-wrapper">
		<div class="cover-item">
		<div class="cover-overlay"> 
		 	<div class="cover-input-about">
        <div class="cover-heading-text about-cover-text">About Us</div> 
		</div>  
		</div>
		</div>
    </div> 

<div class="about-radius8 padding">
 
 <p>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero facilis itaque aperiam, labore possimus. Excepturi illo reiciendis molestias perspiciatis eligendi aperiam, perferendis laborum vitae quos repudiandae dignissimos nostrum temporibus provident harum accusamus aliquam dolore dolorum inventore, pariatur minus ex tempore! Repellendus amet et, aperiam ex minus eligendi sint totam autem tenetur excepturi, optio cum c am non mollitia ipsa, necessitatibus eligendi cum earum molestias ad cupiditate sapiente distinctio. Enim debitis reiciendis facilis, nulla sed veniam, eos dolorem expedita illum voluptas non libero sapiente  
 </p>
 <p>
 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse perspiciatis quibusdam enim pariatur, minus accusantium, adipisci impedit error illo, incidunt corporis dolore recusandae quia nostrum dolorem! Esse libero alias sunt sequi ducimus  
 </p>
 <p class="bold">
 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ratione distinctio at recusandae in eum amet accusantium voluptas facilis suscipit soluta earum ex, accusamus aspernatur odio magnam ad. Earum culpa iusto pariatur omnis expedita necessitatibus, consequatur solu us, optio dolorem, quo est delectus eum natus consectetur! Vero suscipit, iusto ducimus fuga quidem vitae, totam.
 </p>
</div>
  </ion-content>
</ion-view>
