<ion-view>
    <ion-nav-title>
        {{::categoryLabel}}
    </ion-nav-title>
    <ion-subheader-bar class="bar bar-subheader">
        <div class="button-bar">
            <a class="item item-icon-right icon-sub radiuz-btn subheader-btn noradius txt-center" ng-click="getMatches(category, 'popular')" ng-class="filterLabel == 'popular' ? 'tab-selected' : ''">
                 Popular
            </a>
            <a class="item item-icon-right icon-sub radiuz-btn subheader-btn noradius txt-center" ng-click="getMatches(category, 'upcomming')" ng-class="filterLabel == 'upcomming' ? 'tab-selected' : ''">
                 Upcoming
            </a>
            <a class="item item-icon-right icon-sub radiuz-btn subheader-btn noradius txt-center" ng-click="getMatches(category, 'daysBefore')" ng-class="filterLabel == 'daysBefore' ? 'tab-selected' : ''">
                 Completed
            </a>
            <a class="item item-icon-right icon-sub radiuz-btn subheader-btn noradius txt-center" ng-click="getMatches(category, 'ongoing')" ng-class="filterLabel == 'ongoing' ? 'tab-selected' : ''">
                 In Play
            </a>
        </div>
    </ion-subheader-bar>
    <ion-content class="has-subheader">
        <div class="mathes-wrapper">
            <div class="celebrity-listing listing-listing">
                <div class="list list-listing">
                    <span class="card padding" ng-repeat="matche in matches.catPost">
         
 <h2 class="match-title fs20">{{::matche.title}}</h2> 
  <p class="mt2">{{::matche.tournament_name.post_title}}</p> 
      <p class="mt2">{{::matche.onlySDate}}, {{::matche.matchStartTime}} - {{::matche.matchEndTime}}</p> 
      <p class="mt2">{{::matche.venue}}</p> 
      <p class="mt2">Total Traded:  {{::matche.total_bets}}</p> 
      <div class="row pl0">
          <div class="col-60 pl0 user-trade">Your Trade: 120</div>
          <div class="col-40 txt-right">
          <button class="trade-btn radiuz-btn" ng-click="trade()">Add Trade</button>
          </div>
      </div>
                </span>
                    <span class="padding" ng-if="!matches.catPost.length">
                    No match found.
                </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view> 