<ion-view hide-menu-button="true">
    <ion-nav-title>
        India Vs Australia
    </ion-nav-title>
 </ion-nav-buttons>

    <ion-content>
        <div class="cover-item-wrapper cover-detail-wrapper">
            <div class="cover-item cover-item-detail" style="background-image: url('../img/home-bg.jpg')">
                <div class="cover-overlay"> 
                    <div class="celeb-info-detail tournament-detail">
                        <h2 class="mb0"> India Vs. Australia</h2>
                        <p class="mb0">Tri Series</p>
                        <p class="mb0">5:00 PM to 11:20 PM</p>
                        <p class="mb0">Mumbai</p>
                        <p class="mb0"><a ng-click=""> http://gaming-inf.cruxservers.in/</a></p>
                        <h2 class="mb0 points-trade"> Total Points Traded So Far: <span class="bold">1001</span></h2>
                    </div>
                </div>
            </div>
        </div> 
    <div class="wrapper title-page"><h2>Team Participating</h2></div>
        <div class="wrapper table">
          <div class="row header">
          <div class="col">Team</div>
          <div class="col">Your Trade</div>
          <div class="col">Action</div> 
        </div>
        <div class="row">
          <div class="col">India</div>
          <div class="col">100</div>
          <div class="col"><button class="trade-btn radiuz-btn" ng-click="trade()">Add Trade</button></div> 
        </div>
        <div class="row">
          <div class="col">West Indies</div>
          <div class="col">-</div>
          <div class="col"><button class="trade-btn radiuz-btn" ng-click="trade()">Add Trade</button></div> 
        </div>
        <div class="row">
          <div class="col">Pakistan</div>
          <div class="col">50</div>
          <div class="col"><button class="trade-btn radiuz-btn" ng-click="trade()">Add Trade</button></div> 
        </div>
        </div> 

    </ion-content>
</ion-view>