<ion-view hide-menu-button="true">
    <ion-nav-title>
        My Trades
    </ion-nav-title>
     <ion-subheader-bar class="bar bar-subheader">
        <div class="button-bar" ng-init="activeLevel = 'tournametlevel'">
            <a class="button radiuz-btn subheader-btn noradius" ng-click="activeLevel = 'tournametlevel'">Tournament Level</a>
            <a class="button radiuz-btn subheader-btn noradius" ng-click="activeLevel = 'matchlevel'">  Match Level</a>
        </div>
    </ion-subheader-bar>
    <ion-content class="has-subheader">
        <div class="card" ng-if="activeLevel == 'tournametlevel'">
   <div class="item item-divider cart-custom-item">
   Tri Series
  </div>
  <div class="item item-text-wrap">
     <div><span class="match-key bold">Teams: </span><span class="match-value">India, Australia, New Zealand</span> </div>
     <div><span class="match-key bold">Point: </span><span class="match-value">4</span> </div>
     <div><span class="match-key bold"> Bet Placed On: </span><span class="match-value">14-Apr-2016</span> </div>
  </div> 
    <div class="item item-divider cart-custom-item">
    Winner: <span class="bold">India</span>
  </div> 
</div>
        <div class="card" ng-if="activeLevel == 'tournametlevel'">
   <div class="item item-divider cart-custom-item">
   Tri Series
  </div>
  <div class="item item-text-wrap">
     <div><span class="match-key bold">Teams: </span><span class="match-value">India, Australia, New Zealand</span> </div>
     <div><span class="match-key bold">Point: </span><span class="match-value">4</span> </div>
     <div><span class="match-key bold"> Bet Placed On: </span><span class="match-value">14-Apr-2016</span> </div>
  </div> 
    <div class="item item-divider cart-custom-item">
    Winner: <span class="bold">India</span>
  </div> 
</div>
        <div class="card" ng-if="activeLevel == 'tournametlevel'">
   <div class="item item-divider cart-custom-item">
   Tri Series
  </div>
  <div class="item item-text-wrap">
     <div><span class="match-key bold">Teams: </span><span class="match-value">India, Australia, New Zealand</span> </div>
     <div><span class="match-key bold">Point: </span><span class="match-value">4</span> </div>
     <div><span class="match-key bold"> Bet Placed On: </span><span class="match-value">14-Apr-2016</span> </div>
  </div> 
    <div class="item item-divider cart-custom-item">
    Winner: <span class="bold">India</span>
  </div> 
</div>
<div class="card"  ng-if="activeLevel == 'matchlevel'">
  <div class="item item-divider cart-custom-item">
   India Vs. Pakistan
  </div>
  <div class="item item-text-wrap">
     <div><span class="match-key bold">Series: </span><span class="match-value">ICC Champions Trophy</span> </div>
     <div><span class="match-key bold">Point: </span><span class="match-value">4</span> </div>
     <div><span class="match-key bold"> Bet Placed On: </span><span class="match-value">14-Apr-2016</span> </div>
  </div>
    <div class="item item-divider cart-custom-item">
    Winner: <span class="bold">India</span>
  </div>
</div>
<div class="card"  ng-if="activeLevel == 'matchlevel'">
  <div class="item item-divider cart-custom-item">
   India Vs. Pakistan
  </div>
  <div class="item item-text-wrap">
     <div><span class="match-key bold">Series: </span><span class="match-value">ICC Champions Trophy</span> </div>
     <div><span class="match-key bold">Point: </span><span class="match-value">4</span> </div>
     <div><span class="match-key bold"> Bet Placed On: </span><span class="match-value">14-Apr-2016</span> </div>
  </div>
    <div class="item item-divider cart-custom-item">
    Winner: <span class="bold">India</span>
  </div>
</div>
<div class="card"  ng-if="activeLevel == 'matchlevel'">
  <div class="item item-divider cart-custom-item">
   India Vs. Pakistan
  </div>
  <div class="item item-text-wrap">
     <div><span class="match-key bold">Series: </span><span class="match-value">ICC Champions Trophy</span> </div>
     <div><span class="match-key bold">Point: </span><span class="match-value">4</span> </div>
     <div><span class="match-key bold"> Bet Placed On: </span><span class="match-value">14-Apr-2016</span> </div>
  </div>
    <div class="item item-divider cart-custom-item">
    Winner: <span class="bold">India</span>
  </div>
</div>

    </ion-content>
</ion-view>